.xiami {
    line-height: 1.4;
    padding: .3em .8em .3em .3em;
    border-radius: .3em;
    color: #35D;
    display: inline-block;
    text-decoration: none !important
}

.xiami:hover {
    background: rgba(80, 190, 255, .1)
}

.xiami:after {
    margin-left: .5em;
    font-style: normal;
    color: #999;
    content: '▷'
}

.xiami.play {
    background: rgba(80, 190, 255, .1)
}

.xiami.play:after {
    content: '| |'
}

.xiami.pause:after {
    content: '▷'
}